In [17]:
import pandas as pd
import numpy as np
from datetime import datetime,time
import matplotlib.pyplot as plt
from openpyxl import load_workbook
import locale
# locale.setlocale(locale.LC_TIME, 'fr_FR.UTF-8')

'fr_FR.UTF-8'

In [62]:
carbu241=pd.read_excel('data/CARBURANT/2024/RAPPORT-01-2024.xlsx')
carbu242=pd.read_excel('data/CARBURANT/2024/RAPPORT-02-2024.xlsx')
carbu243=pd.read_excel('data/CARBURANT/2024/RAPPORT-03-2024.xlsx')
carbu244=pd.read_excel('data/CARBURANT/2024/RAPPORT-04-2024.xlsx')
carbu245=pd.read_excel('data/CARBURANT/2024/RAPPORT-05-2024.xlsx')
carbu246=pd.read_excel('data/CARBURANT/2024/RAPPORT-06-2024.xlsx')

carbu231=pd.read_excel('data/CARBURANT/2023/RAPPORT-01-2023.xlsx')
carbu232=pd.read_excel('data/CARBURANT/2023/RAPPORT-02-2023.xlsx')
carbu233=pd.read_excel('data/CARBURANT/2023/RAPPORT-03-2023.xlsx')
carbu234=pd.read_excel('data/CARBURANT/2023/RAPPORT-04-2023.xlsx')
carbu235=pd.read_excel('data/CARBURANT/2023/RAPPORT-05-2023.xlsx')
carbu236=pd.read_excel('data/CARBURANT/2023/RAPPORT-06-2023.xlsx')
carbu237=pd.read_excel('data/CARBURANT/2023/RAPPORT-07-2023.xlsx')
carbu238=pd.read_excel('data/CARBURANT/2023/RAPPORT-08-2023.xlsx')
carbu239=pd.read_excel('data/CARBURANT/2023/RAPPORT-09-2023.xlsx')
carbu2310=pd.read_excel('data/CARBURANT/2023/RAPPORT-10-2023.xlsx')
carbu2311=pd.read_excel('data/CARBURANT/2023/RAPPORT-11-2023.xlsx')
carbu2312=pd.read_excel('data/CARBURANT/2023/RAPPORT-12-2023.xlsx')

carbu221=pd.read_excel('data/CARBURANT/2022/RAPPORT-01-2022.xlsx')
carbu222=pd.read_excel('data/CARBURANT/2022/RAPPORT-02-2022.xlsx')
carbu223=pd.read_excel('data/CARBURANT/2022/RAPPORT-03-2022.xlsx')
carbu224=pd.read_excel('data/CARBURANT/2022/RAPPORT-04-2022.xlsx')
carbu225=pd.read_excel('data/CARBURANT/2022/RAPPORT-05-2022.xlsx')
carbu226=pd.read_excel('data/CARBURANT/2022/RAPPORT-06-2022.xlsx')
carbu227=pd.read_excel('data/CARBURANT/2022/RAPPORT-07-2022.xlsx')
carbu228=pd.read_excel('data/CARBURANT/2022/RAPPORT-08-2022.xlsx')
carbu229=pd.read_excel('data/CARBURANT/2022/RAPPORT-09-2022.xlsx')
carbu2210=pd.read_excel('data/CARBURANT/2022/RAPPORT-10-2022.xlsx')
carbu2211=pd.read_excel('data/CARBURANT/2022/RAPPORT-11-2022.xlsx')
carbu2212=pd.read_excel('data/CARBURANT/2022/RAPPORT-12-2022.xlsx')

carburant = pd.concat([carbu241,carbu242,carbu243,carbu244,carbu245,carbu246,
carbu231,carbu232,carbu233,carbu234,carbu235,carbu236,carbu237,carbu238,carbu239,carbu2310,carbu2311,carbu2312,
carbu221,carbu222,carbu223,carbu224,carbu225,carbu226,carbu227,carbu228,carbu229,carbu2210,carbu2211,carbu2212
])
carburant['Date']=pd.to_datetime(carburant['Date'], format='%d/%m/%Y')
carburant['ANNEE'] = carburant['Date'].dt.strftime('%Y')
carburant['MOIS'] = carburant['Date'].dt.strftime('%B')


carburant

,N,Date,Immatricule,Kilometrage,Quantite,Categorie,Satut,Lieu,Cuve/Station,OPERATION,ANNEE,MOIS
0,1929,2024-01-01,AA 246 NY,33195,20.03,VL,LIAISON,BPV THIES,CUVE THIES,RAVITAILLEMENT,2024,janvier
1,1930,2024-01-01,AA 943 JW,241519,55.14,VL,PATROUILLE,BPV THIES,CUVE THIES,RAVITAILLEMENT,2024,janvier
2,1931,2024-01-01,AA 189 EN,0,41.48,VL,VIABILITE,BPV THIES,CUVE THIES,RAVITAILLEMENT,2024,janvier
3,1932,2024-01-01,TRACTEUR 9,0,40.00,PL,DESHERBAGE,BPV THIES,CUVE THIES,RAVITAILLEMENT,2024,janvier
4,1933,2024-01-01,RAVO 4,0,20.02,PL,VIABILITE,BPV THIES,CUVE THIES,RAVITAILLEMENT,2024,janvier
...,...,...,...,...,...,...,...,...,...,...,...,...
535,565,2022-12-31,AA 967 JW,48626.0,69.19,VL,PATROUILLE,NaN,cuve mobile,RAVITAILLEMENT,2022,décembre
536,566,2022-12-31,AA 958 DX,NaN,42.87,PL,REMORQUAGE,NaN,cuve mobile,RAVITAILLEMENT,2022,décembre
537,567,2022-12-31,DK 1253 BH,NaN,58.89,PL,REMORQUAGE,NaN,cuve mobile,RAVITAILLEMENT,2022,décembre
538,568,2022-12-31,DK 7385 BL,NaN,20.07,PL,VIABILITE,NaN,cuve mobile,RAVITAILLEMENT,2022,décembre
539,569,2022-12-31,AA 849 DJ,NaN,114.37,PL,REMORQUAGE,NaN,cuve mobile,RAVITAILLEMENT,2022,décembre

In [63]:
carburant.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17006 entries, 0 to 539
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   N             17006 non-null  int64
 1   Date          17006 non-null  datetime64[ns]
 2   Immatricule   17000 non-null  object
 3   Kilometrage   10946 non-null  object
 4   Quantite      17006 non-null  float64
 5   Categorie     15225 non-null  object
 6   Satut         16997 non-null  object
 7   Lieu          11041 non-null  object
 8   Cuve/Station  17006 non-null  object
 9   OPERATION     16494 non-null  object
 10  ANNEE         17006 non-null  object
 11  MOIS          17006 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 1.7+ MB

In [59]:
file_path = "data/CARBURANT/Rapport-2024.xlsx"
book = load_workbook(file_path)
# Ajouter une nouvelle feuille
with pd.ExcelWriter(file_path, engine='openpyxl', mode='a', if_sheet_exists='new') as writer:
   
    carburant.to_excel(writer,sheet_name="detail",index=False)
   
# dfpatAMT.to_excel("PAT-TT-AMT-FOUN-MAI-2024.xlsx",sheet_name="AMT",index=False)